In [1]:
import pandas as pd

In [2]:
oDf=pd.read_csv('outcome_interview.csv')

In [3]:
eDf=pd.read_csv('event_interview.csv')

In [4]:
fDf=pd.read_csv('fighter_interview.csv')

In [8]:
fDf.groupby(['nationality'])['id'].count().sort_values(ascending=False).iloc[0:10].plot(kind='bar')

In [5]:
df=pd.merge(oDf,fDf,how='inner', left_on='fighter1_id', right_on='id')
df=pd.merge(df,fDf,how='inner', left_on='fighter2_id', right_on='id')
df=pd.merge(df,eDf,how='inner', left_on='event_id', right_on='id')
df=df.drop(['id_x','fighter1_id','fighter2_id','winner_id','event_id','id_y','date','promoter','location','attendance','created_at','modified_at'], axis=1)
df=df.rename(columns={"name_x": "fighter1_name", "name_y": "fighter2_name","nationality_x":"fighter1_nationality","nationality_y":"fighter2_nationality","name":"event_name"})

In [6]:
df=df[['fighter1_name', 'fighter2_name', 'fighter1_nationality', 'fighter2_nationality', 'event_name']]
df.head()

,fighter1_name,fighter2_name,fighter1_nationality,fighter2_nationality,event_name
0,Mike Easton,Raphael Assuncao,United States,Brazil,UFC on FOX 5: Henderson vs. Diaz
1,Alexander Gustafsson,Mauricio Rua,Sweden,Brazil,UFC on FOX 5: Henderson vs. Diaz
2,Dennis Siver,Nam Phan,Germany,United States,UFC on FOX 5: Henderson vs. Diaz
3,Jeremy Stephens,Yves Edwards,United States,United States,UFC on FOX 5: Henderson vs. Diaz
4,John Albert,Scott Jorgensen,United States,United States,UFC on FOX 5: Henderson vs. Diaz

In [7]:
df.to_csv('output.csv')